pip~=24.0
numpy~=2.0.0
setuptools~=65.5.0
jupyter~=1.0.0
attrs~=23.2.0
wheel~=0.42.0
cryptography~=41.0.4
pillow~=10.3.0
tornado~=6.4
Jinja2~=3.1.2
packaging~=23.1
pyparsing~=3.1.1
zipp~=3.18.1
scipy~=1.13.0
matplotlib~=3.9.0
customtkinter~=5.2.2